@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 20%;
  /* background: aquamarine; */
  color: rgb(21, 22, 21);
  background: linear-gradient(to right, red, yellow);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 3rem;
}

h2 {
  letter-spacing: 0.3em;
}

h3 {
  padding-top: 100px;
}
h5 {
  font-size: 1.2rem;
}
.Myspan {
  padding-left: 2rem;
  color: white;
  letter-spacing: 0.4rem;
}

.Mybutton {
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  background-color: rgb(137, 218, 232);
  cursor: pointer;
  font-family: "Verdana", Tahoma, Geneva, sans-serif;
}
